#cy {
    width: 1400px;
    height: 600px;
    display: block;
    color:white !important;
    background-color: black !important;
}

#code {
    margin-left: 3%;
}

#submit {
    float: right;
}

body {
    background-color: black;
    color: #42abca;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}